.HStack {
  --alignment-top: flex-start;
  --alignment-center: center;
  --alignment-bottom: flex-end;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  gap: var(--spacing);
  justify-content: var(--v-stack-alignment, center);
  align-items: var(--alignment, var(--alignment-center));

  &_stretchable {
    flex: 1 100000 auto;
    // background: hsla(0, 100%, 50%, 20%);
  }
}
