.ListItem {
  &__container {
    width: 100%;
    height: 56px;

    display: flex;
    flex-direction: column;

    background-color: var(--ListItem__background_idle);
  }

  &__separator {
    height: 0.5px;

    background-color: var(--ListItem__separator-background_idle);
  }

  &__content {
    flex-grow: 1;

    padding: 0 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    color: var(--ListItem__title-text_idle);
  }

  &__subtitle {
    color: var(--ListItem__subtitle-text_idle);
  }
}
