.ButtonCTA {
  --brightness_hovered: 1.05;
  --brightness_focused: 1.1;
  --brightness_pressed: 0.9;

  &__bezel {
    padding: 0 16px;
    max-width: 382px;
    height: 48px;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--ButtonCTA__bezel-background-color, green);

    cursor: pointer;

    &_default:hover,
    &_hovered {
      background-color: var(--ButtonCTA__bezel-background-color_hovered, red);
    }

    &_default:focus,
    &_focused {
      background-color: var(--ButtonCTA__bezel-background-color_focused, red);
    }

    &_default:active,
    &_pressed {
      background-color: var(--ButtonCTA__bezel-background-color_pressed, red);
    }

    &_default:disabled,
    &_disabled {
      background-color: gray;
    }
  }

  &__label {
    color: var(--ButtonCTA__label-text-color, white);
  }
}
