.ButtonCTA {
  &__bezel {
    padding: 0 16px;
    max-width: 382px;
    height: 48px;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--ButtonCTA__bezel-background-color, green);

    cursor: pointer;

    &_default:hover,
    &_hovered {
      background-color: rgba(220, 30, 30, 0.8);
    }

    &_default:focus,
    &_focused {
      background-color: rgba(220, 30, 30, 0.9);
    }

    &_default:active,
    &_pressed {
      background-color: rgba(220, 30, 30, 0.9);
    }

    &_default:disabled,
    &_disabled {
      background-color: gray;
    }
  }

  &__label {
    color: var(--ButtonCTA__label-text-color, white);
  }
}
