.ButtonCTA {
  --brightness_hovered: 1.05;
  --brightness_focused: 1.1;
  --brightness_pressed: 0.9;

  &__bezel {
    padding: 0 16px;
    max-width: 382px;
    height: 48px;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--ButtonCTA__bezel-background-color, green);

    cursor: pointer;

    &_default:hover,
    &_hovered {
      background-color: lighten(blue, 10%);
      // filter: brightness(var(--brightness_hovered));
    }

    &_default:focus,
    &_focused {
      filter: brightness(var(--brightness_focused));
    }

    &_default:active,
    &_pressed {
      filter: brightness(var(--brightness_pressed));
    }

    &_default:disabled,
    &_disabled {
      background-color: gray;
    }
  }

  &__label {
    color: var(--ButtonCTA__label-text-color, white);
  }
}
