:root {
  /* 60 % alpha is 0.6 * 256 = 153.6 in decimal
  and 9a in hexadecimal (3 * 16 + 10 * 1) */

  /* 30 % alpha is 0.3 * 256 = 76.8 in decimal
  and 4d in hexadecimal (4 * 16 + 13 * 1) */

  /* 18 % alpha is 0.18 * 256 = 46.08 in decimal
  and 2e in hexadecimal (2 * 16 + 14 * 1) */

  /* l stands for light mode */

  --l-tint: tomato;

  /* Label Colors */
  --l-label: #000;
  /* The color for text labels that contain primary content. */

  --l-secondary-label: #3c3c439a;
  /* The color for text labels that contain secondary content. */

  --l-tertiary-label: #3c3c434d;
  /* The color for text labels that contain tertiary content. */

  --l-quaternary-label: #3c3c432e;
  /* The color for text labels that contain quaternary content. */

  /* Fill Colors */
  --l-fill: #78788033;
  /* An overlay fill color for thin and small shapes. */

  --l-secondary-fill: #78788029;
  /* An overlay fill color for medium-size shapes. */

  --l-tertiary-fill: #7676801f;
  /* An overlay fill color for large shapes.  */

  --l-quaternary-fill: #74748014;
  /* An overlay fill color for large areas that contain complex content.  */

  /* Text Colors */
  --l-placeholder-text: ;
  /* The color for placeholder text in controls or text views. */

  /* Standard Content Background Colors */
  /* Use these colors for standard table views and designs that have a white primary background in a light environment. */

  --l-background: #ffffff;
  /* The color for the main background of your interface. */

  --l-secondary-background: #f2f2f7;
  /* The color for content layered on top of the main background. */

  --l-tertiary-background: ;
  /* The color for content layered on top of secondary backgrounds. */

  /* Grouped Content Background Colors */
  /* Use these colors for grouped content, including table views and platter-based designs.  */

  --l-grouped-background: #f2f2f7;
  /* The color for the main background of your grouped interface. */

  --l-secondary-grouped-background: #ffffff;
  /* The color for content layered on top of the main background of your grouped interface.   */

  --l-tertiary-grouped-background: #f2f2f7;
  /* The color for content layered on top of secondary backgrounds of your grouped interface.  */

  /* Separator Colors */

  --l-separator: #3c3c435c;
  /* The color for thin borders or divider lines that allows some underlying content to be visible. */

  --l-opaque-separator: #c6c6c8;
  /* The color for borders or divider lines that hides any underlying content.  */

  /* Link Color */
  --l-link: var(--l-tint);

  /* d stands for light mode */

  --d-tint: tomato;

  /* Label Colors */
  --d-label: #ffffff;
  --d-secondary-label: #ebebf59a;
  --d-tertiary-label: #ebebf54d;
  --d-quaternary-label: #ebebf52e;

  /* Fill Colors */
  --d-fill: #7878805c;
  --d-secondary-fill: #78788052;
  --d-tertiary-fill: #7676803d;
  --d-quaternary-fill: #7474802e;

  /* Text Colors */
  --d-placeholder-text: ;

  /* Standard Content Background Colors */
  --d-background: #000000;
  --d-secondary-background: #1c1c1e;
  --d-tertiary-background: #2c2c2e;

  /* Grouped Content Background Colors */
  --d-grouped-background: #000000;
  --d-secondary-grouped-background: #1c1c1e;
  --d-tertiary-grouped-background: #2c2c2e;

  /* Separator Colors */
  --d-separator: #545458a6;
  --d-opaque-separator: #38383a;

  /* Link Color */
  --d-link: var(--d-tint);

  --tint: var(--l-tint);
  --tint-inverse: white;

  /* Label Colors */
  --label: var(--l-label);
  --secondary-label: var(--l-secondary-label);
  --tertiary-label: var(--l-tertiary-label);
  --quaternary-label: var(--l-quaternary-label);

  /* Fill Colors */
  --fill: var(--l-fill);
  --secondary-fill: var(--l-secondary-fill);
  --tertiary-fill: var(--l-tertiary-fill);
  --quaternary-fill: var(--l-quaternary-fill);

  /* Text Colors */
  --placeholder-text: var(--l-placeholder-text);

  /* Standard Content Background Colors */
  --background: var(--l-background);
  --secondary-background: var(--l-secondary-background);
  --tertiary-background: var(--l-tertiary-background);

  /* Grouped Content Background Colors */
  --grouped-background: var(--l-grouped-background);
  --secondary-grouped-background: var(--l-secondary-grouped-background);
  --tertiary-grouped-background: var(--l-tertiary-grouped-background);

  /* Separator Colors */
  --separator: var(--l-separator);
  --opaque-separator: var(--l-opaque-separator);

  /* Link Color */
  --link: var(--tint);

  --text-emphasis-high: hsla(0, 0%, 100%, 0.87);
  --text-emphasis-medium: hsla(0, 0%, 100%, 0.6);
  --text-disabled: hsla(0, 0%, 100%, 0.38);

  --control-active: hsla(9, 100%, 64%, 1);
  --control-inactive: hsla(9, 100%, 64%, 0.6);
  --control-disabled: hsla(9, 100%, 64%, 0.38);

  /* --separator: hsla(0, 0%, 100%, 0.12); */

  --list-item__background: transparent;
}

:root {
  // background-color: var(--grouped-background);
}

.App {
  // background-color: var(--secondary-grouped-background);
  display: flex;
  align-items: flex-start;

  &__ComponentList-container {
    flex-grow: 1;

    overflow: hidden;
  }

  &__Inspector-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: sticky;
    top: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 280px;
  }
}
