.ColorMode.colorModeLight {
  --ColorMode__background-color: var(--l-background);
  --ColorMode__name-text-color: var(--l-tertiary-label);
  --ColorMode__state-name-text-color: var(--l-quaternary-label);
}

.ColorMode.colorModeDark {
  --ColorMode__background-color: var(--d-background);
  --ColorMode__name-text-color: var(--d-tertiary-label);
  --ColorMode__state-name-text-color: var(--d-quaternary-label);
}

.UnsupportedStatePlaceholder.colorModeLight {
  --UnsupportedStatePlaceholder__text-color: var(--l-quaternary-label);
}

.UnsupportedStatePlaceholder.colorModeDark {
  --UnsupportedStatePlaceholder__text-color: var(--d-quaternary-label);
}

.SegmentedControl.colorModeLight {
  --SegmentedControl__background-color: var(--l-secondary-fill);
  --SegmentedControl__selection-indicator-background: white;
  --SegmentedControl__selection-indicator-animation-time: var(
    --l-animation-time-medium
  );
  --SegmentedControl__divider-background: var(--l-fill);
  --SegmentedControl__divider-animation-time: var(--l-animation-time-short);
  --SegmentedControl__segment-title-color: var(--l-label);
  --SegmentedControl__segment-title-animation-time: var(
    --l-animation-time-short
  );
}

.SegmentedControl.colorModeDark {
  --SegmentedControl__background-color: var(--d-tertiary-fill);
  --SegmentedControl__selection-indicator-background: var(--d-system-grey2);
  --SegmentedControl__selection-indicator-animation-time: var(
    --d-animation-time-medium
  );
  --SegmentedControl__divider-background: var(--d-fill);
  --SegmentedControl__divider-animation-time: var(--d-animation-time-short);
  --SegmentedControl__segment-title-color: var(--d-label);
  --SegmentedControl__segment-title-animation-time: var(
    --l-animation-time-short
  );
}

.ButtonCTA.colorModeLight {
  --ButtonCTA__bezel-background-color: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    var(--l-tint-l)
  );
  --ButtonCTA__bezel-background-color_hovered: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 2%)
  );
  --ButtonCTA__bezel-background-color_focused: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 10%)
  );
  --ButtonCTA__bezel-background-color_pressed: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 2%)
  );
  --ButtonCTA__bezel-background-color_disabled: var(--l-tertiary-fill);
  --ButtonCTA__label-text-color: var(--l-tint-inverse);
  --ButtonCTA__label-text-color_disabled: var(--l-tertiary-label);
}

.ButtonCTA.colorModeDark {
  --ButtonCTA__bezel-background-color: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    var(--d-tint-l)
  );
  --ButtonCTA__bezel-background-color_hovered: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 2%)
  );
  --ButtonCTA__bezel-background-color_focused: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 10%)
  );
  --ButtonCTA__bezel-background-color_pressed: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 2%)
  );
  --ButtonCTA__bezel-background-color_disabled: var(--d-tertiary-fill);
  --ButtonCTA__label-text-color_disabled: var(--d-tertiary-label);

  --ButtonCTA__label-text-color: var(--d-tint-inverse);
}

.Label.colorModeLight {
  --Label__label-text_idle: var(--l-label);
}

.Label.colorModeDark {
  --Label__label-text_idle: var(--d-label);
}

.Slider.colorModeLight {
  --Slider__track-progress_idle: var(--l-tint);
  --Slider__track-background_idle: var(--l-fill);
  --Slider__track-progress_disabled: var(--l-tertiary-fill);
  --Slider__track-background_disabled: var(--l-quaternary-fill);
}

.Slider.colorModeDark {
  --Slider__track-progress_idle: var(--d-tint);
  --Slider__track-background_idle: var(--d-fill);
  --Slider__track-progress_disabled: var(--d-tertiary-fill);
  --Slider__track-background_disabled: var(--d-quaternary-fill);
}

.Switch.colorModeLight {
  --Switch__background_idle: var(--l-secondary-fill);
  --Switch__background_pressed: hsla(
    var(--l-secondary-fill-h),
    var(--l-secondary-fill-s),
    calc(var(--l-secondary-fill-l) - 12%),
    var(--l-secondary-fill-a)
  );
  --Switch__background_checked: var(--l-tint);
  --Switch__background_checked-pressed: hsla(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 4%)
  );
  --Switch__background_disabled: var(--l-quaternary-fill);
}

.Switch.colorModeDark {
  --Switch__background_idle: var(--d-secondary-fill);
  --Switch__background_pressed: hsla(
    var(--d-secondary-fill-h),
    var(--d-secondary-fill-s),
    calc(var(--d-secondary-fill-l) - 12%),
    var(--d-secondary-fill-a)
  );
  --Switch__background_checked: var(--d-tint);
  --Switch__background_checked-pressed: hsla(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 4%)
  );
  --Switch__background_disabled: var(--d-quaternary-fill);
}

.Checkbox.colorModeLight {
  --Checkbox__background_idle: var(--l-fill);
  --Checkbox__background_hovered: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) + 10%),
    var(--l-fill-a)
  );
  --Checkbox__background_focused: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) + 10%),
    var(--l-fill-a)
  );
  --Checkbox__background_pressed: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) - 12%),
    var(--l-fill-a)
  );
  --Checkbox__background_checked: var(--l-tint);
  --Checkbox__background_checked-hovered: hsla(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 6%)
  );
  --Checkbox__background_checked-pressed: hsla(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 4%)
  );
  --Checkbox__background_disabled: var(--l-quaternary-fill);
}

.Checkbox.colorModeDark {
  --Checkbox__background_idle: var(--d-fill);
  --Checkbox__background_hovered: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) + 10%),
    var(--d-fill-a)
  );
  --Checkbox__background_focused: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) + 10%),
    var(--d-fill-a)
  );
  --Checkbox__background_pressed: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) - 12%),
    var(--d-fill-a)
  );
  --Checkbox__background_checked: var(--d-tint);
  --Checkbox__background_checked-hovered: hsla(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 6%)
  );
  --Checkbox__background_checked-pressed: hsla(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 4%)
  );
  --Checkbox__background_disabled: var(--d-quaternary-fill);
}

.Radio.colorModeLight {
  --Radio__background_idle: var(--l-fill);
  --Radio__background_hovered: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) + 10%),
    var(--l-fill-a)
  );
  --Radio__background_focused: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) + 10%),
    var(--l-fill-a)
  );
  --Radio__background_pressed: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) - 12%),
    var(--l-fill-a)
  );
  --Radio__background_checked: var(--l-tint);
  --Radio__background_checked-hovered: hsla(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 6%)
  );
  --Radio__background_checked-pressed: hsla(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 4%)
  );
  --Radio__background_disabled: var(--l-quaternary-fill);
}

.Radio.colorModeDark {
  --Radio__background_idle: var(--d-fill);
  --Radio__background_hovered: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) + 10%),
    var(--d-fill-a)
  );
  --Radio__background_focused: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) + 10%),
    var(--d-fill-a)
  );
  --Radio__background_pressed: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) - 12%),
    var(--d-fill-a)
  );
  --Radio__background_checked: var(--d-tint);
  --Radio__background_checked-hovered: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 6%)
  );
  --Radio__background_checked-pressed: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 4%)
  );
  --Radio__background_disabled: var(--d-quaternary-fill);
}

.ListItem.colorModeLight {
  --ListItem__opacity_disabled: 0.5;
  --ListItem__separator-background_idle: var(--l-separator);
  --ListItem__separator-background_hovered: transparent;
  --ListItem__separator-background_pressed: transparent;
  --ListItem__separator-background_selected: transparent;
  --ListItem__title-text_idle: var(--l-label);
  --ListItem__title-text_disabled: hsla(
    var(--l-label-h),
    var(--l-label-s),
    var(--l-label-l),
    calc(var(--l-label-a) * 0.5)
  );
  --ListItem__title-text_selected: var(--l-tint-inverse);
  --ListItem__subtitle-text_idle: var(--l-secondary-label);
  --ListItem__subtitle-text_disabled: var(--l-secondary-label);
  --ListItem__subtitle-text_selected: var(--l-tint-inverse);
  --ListItem__background_idle: var(--l-background);
  --ListItem__background_hovered: var(--l-fill);
  --ListItem__background_pressed: hsla(
    var(--l-fill-h),
    var(--l-fill-s),
    calc(var(--l-fill-l) - 16%),
    var(--l-fill-a)
  );
  --ListItem__background_selected: var(--l-tint);
  --ListItem__background_selected-hovered: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 2%)
  );
  --ListItem__background_selected-pressed: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 2%)
  );
}

.ListItem.colorModeDark {
  --ListItem__opacity_disabled: 0.5;
  --ListItem__separator-background_idle: var(--d-separator);
  --ListItem__separator-background_hovered: transparent;
  --ListItem__separator-background_pressed: transparent;
  --ListItem__separator-background_selected: transparent;
  --ListItem__title-text_idle: var(--d-label);
  --ListItem__title-text_disabled: hsla(
    var(--d-label-h),
    var(--d-label-s),
    var(--d-label-l),
    calc(var(--d-label-a) / 2)
  );
  --ListItem__title-text_selected: var(--d-tint-inverse);
  --ListItem__subtitle-text_idle: var(--d-secondary-label);
  --ListItem__subtitle-text_selected: var(--d-tint-inverse);
  --ListItem__background_idle: var(--d-background);
  --ListItem__background_hovered: var(--d-fill);
  --ListItem__background_pressed: hsla(
    var(--d-fill-h),
    var(--d-fill-s),
    calc(var(--d-fill-l) - 16%),
    var(--d-fill-a)
  );
  --ListItem__background_selected: var(--d-tint);
  --ListItem__background_selected-hovered: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 2%)
  );
  --ListItem__background_selected-pressed: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 2%)
  );
}
