.ColorMode.colorModeLight {
  --ColorMode__background-color: var(--l-background);
  --ColorMode__name-text-color: var(--l-tertiary-label);
  --ColorMode__state-name-text-color: var(--l-quaternary-label);
}

.ColorMode.colorModeDark {
  --ColorMode__background-color: var(--d-background);
  --ColorMode__name-text-color: var(--d-tertiary-label);
  --ColorMode__state-name-text-color: var(--d-quaternary-label);
}

.UnsupportedStatePlaceholder.colorModeLight {
  --UnsupportedStatePlaceholder__text-color: var(--l-quaternary-label);
}

.UnsupportedStatePlaceholder.colorModeDark {
  --UnsupportedStatePlaceholder__text-color: var(--d-quaternary-label);
}

.ButtonCTA.colorModeLight {
  --ButtonCTA__bezel-background-color: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    var(--l-tint-l)
  );
  --ButtonCTA__bezel-background-color_hovered: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 5%)
  );
  --ButtonCTA__bezel-background-color_focused: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) + 20%)
  );
  --ButtonCTA__bezel-background-color_pressed: hsl(
    var(--l-tint-h),
    var(--l-tint-s),
    calc(var(--l-tint-l) - 10%)
  );
  --ButtonCTA__label-text-color: var(--l-tint-inverse);
}

.ButtonCTA.colorModeDark {
  --ButtonCTA__bezel-background-color: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    var(--d-tint-l)
  );
  --ButtonCTA__bezel-background-color_hovered: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 5%)
  );
  --ButtonCTA__bezel-background-color_focused: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) + 20%)
  );
  --ButtonCTA__bezel-background-color_pressed: hsl(
    var(--d-tint-h),
    var(--d-tint-s),
    calc(var(--d-tint-l) - 10%)
  );
  --ButtonCTA__label-text-color: var(--d-tint-inverse);
}

.Label.colorModeLight {
  --Label__label-text_idle: var(--l-label);
}

.Label.colorModeDark {
  --Label__label-text_idle: var(--d-label);
}

.Slider.colorModeLight {
  --Slider__track-background_idle: var(--l-fill);
  --Slider__track-progress_idle: var(--l-tint);
}

.Slider.colorModeDark {
  --Slider__track-background_idle: var(--d-fill);
  --Slider__track-progress_idle: var(--d-tint);
}

.Checkbox.colorModeLight {
  --Checkbox__background_idle: var(--l-tint);
}

.Checkbox.colorModeDark {
  --Checkbox__background_idle: var(--d-tint);
}

.Radio.colorModeLight {
  --Radio__background_idle: var(--l-tint);
}

.Radio.colorModeDark {
  --Radio__background_idle: var(--d-tint);
}

.ListItem.colorModeLight {
  --ListItem__separator-background_idle: var(--l-separator);
  --ListItem__title-text_idle: var(--l-label);
  --ListItem__subtitle-text_idle: var(--l-secondary-label);
  --ListItem__background_idle: var(--l-background);
}

.ListItem.colorModeDark {
  --ListItem__separator-background_idle: var(--d-separator);
  --ListItem__title-text_idle: var(--d-label);
  --ListItem__subtitle-text_idle: var(--d-secondary-label);
  --ListItem__background_idle: var(--d-background);
}
