.HStack {
  --alignment-top: flex-start;
  --alignment-center: center;
  --alignment-bottom: flex-end;
  padding: var(--padding, 0);
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  gap: var(--spacing, 0);
  // justify-content: var(--v-alignment, center);
  align-items: var(--alignment, var(--alignment-center));

  &_stretchable {
    flex: 1 100000 auto;
  }
}
