.Stack {
  --alignment-top: flex-start;
  --alignment-center: center;
  --alignment-bottom: flex-end;
  --alignment-leading: flex-start;
  --alignment-center: center;
  --alignment-trailing: flex-end;

  padding: var(--padding, 0);
  height: 100%;
  display: flex;
  align-items: var(--alignment, var(--alignment-center));
  justify-content: center;
  gap: var(--spacing, 0);

  &_vertical {
    flex-direction: column;
  }

  &_top-level {
    &-content-sized {
      height: 100%;
      min-height: 0;
    }

    &-resizable {
      &-horizontally {
        width: 100vw;
        max-width: 100%;
        height: 100%;
        min-height: 0;
      }

      &-vertically {
        height: 100vh;
        max-height: 100%;
      }

      &-fully {
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        max-height: 100%;
      }
    }
  }

  &__content {
    padding: var(--padding, 0);
    height: 100%;
    display: flex;
    align-items: var(--alignment, var(--alignment-center));
    justify-content: center;
    gap: var(--spacing, 0);

    &_vertical {
      flex-direction: column;
    }
  }
}

.stack-item {
  &_content-sized {
    width: 100%;
    min-width: min-content;
    max-width: max-content;
  }

  &_resizable {
    &-horizontally {
      width: 100%;
      min-width: 8px;
      max-width: none;
    }

    &-vertically {
      height: 100%;
      min-height: 8px;
      max-height: none;
    }

    &-fully {
      width: 100%;
      min-width: 8px;
      max-width: none;
      height: 100%;
      min-height: 8px;
      max-height: none;
    }
  }
}
